body {
    background-color: black;
}

h1 {
    color: gray;
    margin: 20px;
    height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

p age {
    color: rgb(149, 248, 0);
    font-size: 25px;
    padding: 5px;
    opacity: 65%;
}

p {
    color: gray;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-indent: 20px;

}

ul {
    list-style-type: square;
    color: salmon;
    margin: 20px;
    text-indent: 10px;
    line-height: 40px;
    font-size: 20px;
}

li a {
    color: aqua;
    text-decoration: underline;
    text-decoration-color: salmon;
}